.nav-tabs {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    height: 39px;
}
.pull-left {
    float: left !important;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    border-bottom-width: 1px;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.pull-left {
    float: left;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav > li {
    position: relative;
    display: block;
}
.nav-tabs__title {
    color: #459df5;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 5px;
    min-width: 100px;
}


元素 {

}
.nav-tabs > li {

    float: left;
    margin-bottom: -1px;

}
.nav-tabs > li {

    float: left;
    margin-bottom: -1px;

}
.nav > li {

    position: relative;
    display: block;

}
.nav-tabs__title {

    color: #459df5;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 5px;
    min-width: 100px;

}
*, ::after, ::before {

    box-sizing: inherit;

}
* {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
*, ::after, ::before {

    box-sizing: inherit;

}
.nav {

    list-style: none;

}
body {
    font-family: Helvetica, Tahoma, Arial, Hiragino Sans GB, Microsoft YaHei, 微软雅黑, STXihei, 华文细黑, Heiti, 黑体, SimSun, 宋体, sans-serif;
}
