<aside class="Hui-aside">
    <input runat="server" id="divScrollValue" type="hidden" value="" />
    <div class="menu_dropdown bk_2">
        <dl id="menu-category">
            <dt><i class="Hui-iconfont">&#xe616;</i> 分类管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="category" data-title="分类管理" href="javascript:void(0)">生活服务分类</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-city">
            <dt><i class="Hui-iconfont">&#xe613;</i> 城市管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="{:url('admin/city/index')}" data-title="城市管理" href="javascript:void(0)">城市管理</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-apply">
            <dt><i class="Hui-iconfont">&#xe620;</i>商家管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="{:url('admin/bis/index')}" data-title="商户列表" href="javascript:void(0)">商户列表</a></li>
                    <li><a _href="{:url('admin/bis/apply')}" data-title="商户申请列表" href="javascript:void(0)">商户申请列表</a></li>
                    <li><a _href="{:url('admin/bis/dellist')}" data-title="删除的商户" href="javascript:void(0)">删除的商户</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-comments">
            <dt><i class="Hui-iconfont">&#xe622;</i> 团购商品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="http://h-ui.duoshuo.com/admin/" data-title="商家团购提交" href="javascript:;">商家团购提交</a></li>
                    <li><a _href="{:url('admin/deal/index')}" data-title="团购列表" href="javascript:void(0)">团购列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-member">
            <dt><i class="Hui-iconfont">&#xe60d;</i> 推荐位管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="{:url('featured/add')}" data-title="推荐位添加" href="javascript:;">推荐位添加</a></li>
                    <li><a _href="{:url('featured/index')}" data-title="推荐位列表" href="javascript:;">推荐位列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-version">
            <dt><i class="Hui-iconfont">&#xe623;</i> version管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="{:url('version/add')}" data-title="version添加" href="javascript:;">version添加</a></li>
                    <li><a _href="{:url('version/index')}" data-title="version列表" href="javascript:;">version列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="admin-role.html" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
                    <li><a _href="admin-permission.html" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>
                    <li><a _href="admin-list.html" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="system-base.html" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>
                    <li><a _href="system-category.html" data-title="栏目管理" href="javascript:void(0)">栏目管理</a></li>
                    <li><a _href="system-data.html" data-title="数据字典" href="javascript:void(0)">数据字典</a></li>
                    <li><a _href="system-shielding.html" data-title="屏蔽词" href="javascript:void(0)">屏蔽词</a></li>
                    <li><a _href="system-log.html" data-title="系统日志" href="javascript:void(0)">系统日志</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>