<!DOCTYPE html>
<html lang="en">
<head>
    {load href="__STATIC__/static/h-ui/css/H-ui.min.css" /}
    <link rel="stylesheet" type="text/css" href="__STATIC__/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/lib/Hui-iconfont/1.0.7/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/lib/icheck/icheck.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/static/h-ui.admin/css/style.css" />
    {load href="__STATIC__/admin/css/common.css" /}
    {load href="__STATIC__/admin/uploadify/uploadify.css" /}
    <meta charset="UTF-8">
    <title>身份证测试</title>
</head>
<body>
<div class="row cl">
    <label class="form-label col-xs-4 col-sm-2">身份证正面：</label>
    <div class="formControls col-xs-8 col-sm-9">
        <input id="file_upload"  type="file" multiple="true" >
        <img style="display: none" id="upload_org_code_img" src="" width="150" height="150">
        <input id="file_upload_image" name="logo" type="hidden" multiple="true" value="">
    </div>
</div>
<div class="row cl">
    <label class="form-label col-xs-4 col-sm-2">身份证反面：</label>
    <div class="formControls col-xs-8 col-sm-9">
        <input id="file_upload_other"  type="file" multiple="true" >
        <img style="display: none" id="upload_org_code_img_other" src="" width="150" height="150">
        <input id="file_upload_image_other" name="licence_logo" type="hidden" multiple="true" value="">
    </div>
</div>
<!--包含尾部文件-->
<script>
    var SCOPE={

            'uploadify_swf':'__STATIC__/admin/uploadify/uploadify.swf',
            'image_upload':'{:url('api/image/upload')}',
    };
</script>
</body>
{load href="__STATIC__/lib/jquery/1.9.1/jquery.min.js" /}
<script type="text/javascript" src="__STATIC__/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui.admin/js/H-ui.admin.js"></script>
{load href="__STATIC__/admin/js/common.js" /}
{load href="__STATIC__/admin/js/image.js" /}
{load href="__STATIC__/admin/uploadify/jquery.uploadify.min.js" /}
</html>