
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <LINK rel="Bookmark" href="/favicon.ico" >
    <LINK rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/lib/html5.js"></script>
    <script type="text/javascript" src="/static/lib/respond.min.js"></script>
    <script type="text/javascript" src="/static/lib/PIE_IE678.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="__CRM__/c1.css" />
    <link rel="stylesheet" type="text/css" href="__CRM__/c2.css" />
    <link rel="stylesheet" type="text/css" href="__CRM__/c3.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/uploadify/uploadify.css" />
    <link rel="stylesheet" type="text/css" href="/static/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/uploadify/uploadify.css" />
    <link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.7/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/static/lib/icheck/icheck.css" />
    <link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>客户</title>
    <meta name="keywords" content="H-ui.admin v2.4,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="H-ui.admin v2.4，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>


<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 客户跟进列表 </nav>{$Think.server.REQUEST_URI}
+++
<a target="_blank" style="color: red" href="{$Think.server.REQUEST_URI}&status=3">链接组装测试</a>
++++
<a target="_blank" style="color: green" href="{:url('crm/index/server')}">$_SERVER</a>
<section id="content" class="tab_new">
    <ul class="nav nav-tabs topnav pull-left">
        <li class="nav-tabs__title dropdown-toggle" data-toggle="dropdown" id="nav-tab-title">客户<i class="fa fa-angle-down hidden" aria-hidden="true"></i></li>
        <ul class="dropdown-menu hidden">
            <li class="bordb">
                <a class="text-success custom-template" data-href="" data-disable-with="请稍候..." href="javascript:;">
                    全部客户
                </a>                    </li>
        </ul>
        <li class="active">
            <a class="nav-link" href="/customers?scope=all_own">全部客户</a>
        </li>
        <li class=" ">
            <a class="nav-link" href="/customers?scope=my_own">我的客户</a>
        </li>
        <li class="">
            <a class="nav-link" href="/customers?scope=my_assist">我协作的客户</a>
        </li>
    </ul>
    <div class="pull-right mart20 marr15">
        <button class="btn btn-default btn-outline btn-sm dropdown-toggle" data-toggle="dropdown">导入 <span class="caret"></span> </button>
        <ul class="dropdown-menu">
            <li>
                <a class="text-success" data-href="/entity_loaders/import/Customer2" data-target="#importCus" data-toggle="modal" data-disable-with="请稍候..." data-remote="true" href="javascript:;">
                    导入客户
                </a>                </li>
            <li class="bordb">
                <a class="text-success" data-href="/entity_loaders/import/RevisitLog?loggable_type=Customer" data-target="#importCus" data-toggle="modal" data-disable-with="请稍候..." data-remote="true" href="javascript:;">
                    导入客户跟进记录
                </a>                </li>
        </ul>
    </div>
    <div class="pull-right mart20 marr15">
        <a class="btn btn-default btn-sm  btn-outline" data-href="/duplicate?add=yes&amp;key=customer" data-disable-with="请稍候..." data-remote="true" href="javascript:;">
            <i class="Hui-iconfont">&#xe665;</i> 客户查重
        </a>            </div>
    <div class="pull-right mart20 marr15">
        <a class="btn btn-success btn-sm  btn-inline" data-href="/customers/new" data-disable-with="请稍候..." data-remote="true" href="javascript:;">
            <i class="Hui-iconfont">&#xe604;</i> 新增客户
        </a>            </div>
    <div class="clearfix"></div>
    <div class="tab-content padder">
        <div id="tab1" class="tab-pane active ">

            <div class="filter-box switch-close" id="quick_filter_column_container">
                <section class="panel panel-default marb0">
                    <div class="panel-body no-padder">
                        <div class="search-cont">
                            <a href="javascript:;" class="search-set-icon filter-display-columns-button"><i class="fa fa-cog"></i></a>
                            <div class="switch-hide">
                                <div class="search-li clearfix" id="filter_column_collapse_container"><label class="pull-left search-label">筛选条件：</label>
                                    <div class="clearfix search-link">

                                        <label class="pull-left search-label">未设置筛选条件</label>

                                    </div>
                                </div>
                            </div>
                            <div class="switch-show filter_column">

                                <!--  detegate start 临时增加-->
                                <div class="search-li clearfix hide" data-type-format="hidden">
                                    <a class="active hide" id="detegate_click" href="/">全部</a>
                                </div>
                                <!-- detegate end -->

                                <div class="search-li clearfix" data-type-format="link" data-name="status">
                                    <label class="pull-left search-label">跟进状态：</label>
                                    <div class="clearfix search-link">


                                        <div class="auto">


                                            <a {if condition="!strstr($_SERVER['REQUEST_URI'], 'status')"}class="active"{/if} href="{:url('customers/index',['type' =>$Request.get.type])}">全部</a>


                                            {volist name="status" id="vo" }
                                            <a {if condition="strstr($_SERVER['REQUEST_URI'], 'status') && $key == $Request.get.status"}class="active"{/if} href="{:url('customers/index',['status'=>$key,'type' =>$Request.get.type])}">{$vo}</a>
                                            {/volist}




                                        </div>
                                    </div>
                                </div>



                                <div class="search-li clearfix" data-type-format="link" data-name="category">
                                    <label class="pull-left search-label">客户类型：</label>
                                    <div class="clearfix search-link">


                                        <div class="auto">
                                            <a {if condition="!strstr($_SERVER['REQUEST_URI'], 'type')"}class="active"{/if} href="{:url('customers/index',['status' =>$Request.get.status])}">全部</a>


                                            {volist name="type" id="vo" }
                                            <a {if condition="strstr($_SERVER['REQUEST_URI'], 'type') && $key == $Request.get.type"}class="active"{/if} href="{:url('customers/index',['status'=>$Request.get.status,'type' =>$key])}">{$vo}</a>

                                            {/volist}
      </div>
                                    </div>
                                </div>







                            </div>
                        </div>
                    </div>
                </section>

            </div>






        </div>
    </div>
</section>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <div class="text-c">
            <form action="{:url('customers/index',['status' =>$Request.get.status,'type' =>$Request.get.type])}" method="post">

                <span class="select-box inline">
<select name="fuzeren" class="select">
				<option value="0">负责人</option>
								<option value="工号119"  {if condition='"工号119" eq $get.fuzeren'}selected="selected"{/if} >工号119</option>
								<option value="工号110"  {if condition='"工号110" eq $get.fuzeren'}selected="selected"{/if} >工号110</option>
								<option value="工号120"  {if condition='"工号120" eq $get.fuzeren'}selected="selected"{/if} >工号120</option>
								<option value="工号001"  {if condition='"工号001" eq $get.fuzeren'}selected="selected"{/if} >工号001</option>


							</select>
		</span> 最近跟进时间：
                <input type="text" name="start_time" class="input-text" id="countTimestart" onfocus="selecttime(1)" value="{$get.start_time}" style="width:120px;" >
                -
                <input type="text" name="end_time" class="input-text" id="countTimeend" onfocus="selecttime(1)" value="{$get.end_time}"  style="width:120px;">
                <input type="text" name="serach" value="" id="serach" placeholder="搜索用户" style="width:250px" class="input-text">
                <button name="name" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索
                </button>
            </form>
        </div>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="20">ID</th>
                <th width="100">客户名称</th>
                <th width="40">客户类型</th>
                <th width="40">负责人</th>

                <th width="80">跟进记录</th>
                <th width="80">创建时间</th>
                <th width="80">最近跟进时间</th>
                <th width="60">下次跟进时间</th>
                <th width="40">电话</th>
                <th width="40">跟进状态</th>
                <th width="40">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="data" id="vo"}
            <tr class="text-c">

                <td>{$vo.id}</td>
                <td>{$vo.name}</td>
                <td>{$vo.type|ctype}</td>
                <td>{$vo.fuzeren}</td>

                <td>{$vo.record}</td>
                <td>{$vo.create_time}</td>
                <td>{$vo.update_time}</td>
                <td>{$vo.plantime|date="Y-m-d",###}</td>
                <td>{$vo.tel}</td>
                <td>{$vo.status|customersstatus}</td>
                <td class="td-manage"><a style="text-decoration:none" class="ml-5" onClick="" href="javascript:;" title="查看"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6e2;</i></a></td>

            </tr>
            {/volist}
            </tbody>
        </table>
        {:pagination($data)}
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20 tp5-o2o"></div></div>
<!--包含头部文件-->
<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="/static/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/static/static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="/static/admin/js/common.js"></script>
<script type="text/javascript" src="/static/admin/js/image.js"></script>
<script type="text/javascript" src="/static/admin/uploadify/jquery.uploadify.min.js"></script>

<script type="text/javascript">
    $(function(){
        $('.table-sort').dataTable({
            "aaSorting": [[ 1, "desc" ]],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
            ]
        });
        $('.table-sort tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });
    /*分类-添加*/
    function o2o_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*分类-查看*/
    function o2o_show(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*分类-停用*/
    function o2o_stop(obj,id){
        layer.confirm('确认要停用吗？',function(index){
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="category_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
            $(obj).remove();
            layer.msg('已停用!',{icon: 5,time:1000});
        });
    }

    /*分类-启用*/
    function o2o_start(obj,id){
        layer.confirm('确认要启用吗？',function(index){
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="category_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
            $(obj).remove();
            layer.msg('已启用!',{icon: 6,time:1000});
        });
    }
    /*分类-编辑*/
    function o2o_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*密码-修改*/
    function change_password(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*分类-删除*/
    function o2o_del(url){
        layer.confirm('确认要删除吗？',function(index){
            window.location.href=url;
            layer.msg('已删除!',{icon:1,time:1000});
        });
    }

    /*资讯-添加*/
    function article_add(title,url){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    /*图片-添加*/
    function picture_add(title,url){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    /*产品-添加*/
    function product_add(title,url){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    /*用户-添加*/
    function member_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
</script>
<script type="text/javascript">
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?080836300300be57b7f34f4b3e97d911";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s)})();
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F080836300300be57b7f34f4b3e97d911' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>
<script src="/static/lib/My97DatePicker/WdatePicker.js"></script>
<script>

</script>
